/*  ----  Import des polices  ----  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*  ----  Import des fichier scss du dossier Utils ----  */
/*  ----  Import des fichier scss du dossier Base ----  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 375px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', cursive, sans-serif;
}

h1 {
  font-family: 'Shrikhand', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ol, ul {
  list-style: none;
}

ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sectiontitle {
  font-size: 24px;
  font-weight: bold;
  width: 325px;
  margin: 30px 0;
}

@media (min-width: 768px) {
  .sectiontitle {
    text-align: center;
  }
}

.bigtitle {
  width: 350px;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
}

.bigtitle .underbarre {
  display: block;
  height: 5px;
  width: 70px;
  background-color: #99E2D0;
  margin-top: 5px;
}

@media (min-width: 992px) {
  .bigtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*  ----  Import des fichier scss du dossier Components ----  */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  background: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeout 2s linear;
          animation: fadeout 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader p, .loader i {
  margin: 10px;
  font-size: 64px;
  color: #353535;
  -webkit-animation: bounce 1.2s ease-in-out infinite alternate;
          animation: bounce 1.2s ease-in-out infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
  100% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
  100% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
}

.loader .lettercolor1 {
  color: #9356DC;
}

.loader .lettercolor2 {
  color: #FF79DA;
}

.loader .lettercolor3 {
  color: #99E2D0;
}

.loader .letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .letter:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader .letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader .letter:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader .letter:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader .letter:nth-child(10) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.loader .letter:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.loader .letter:nth-child(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@media (min-width: 768px) {
  .loader {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  @-webkit-keyframes bounce {
    from {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    to {
      -webkit-transform: translateY(-75%);
              transform: translateY(-75%);
    }
  }
  @keyframes bounce {
    from {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    to {
      -webkit-transform: translateY(-75%);
              transform: translateY(-75%);
    }
  }
}

.BtnPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 285px;
  height: 65px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  color: white;
  font-weight: 500;
}

.BtnPrincipal:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 10px 10px 10px #8d8d8d;
          box-shadow: 10px 10px 10px #8d8d8d;
}

.BtnFunction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 325px;
  height: 75px;
  border-radius: 25px;
  background: #F6F6F6;
  -webkit-box-shadow: 4px 4px 4px #EAEAEA;
          box-shadow: 4px 4px 4px #EAEAEA;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  counter-increment: counterlist 1;
}

.BtnFunction i {
  margin: 0 20px 0 -20px;
}

.BtnFunction--3 i {
  color: #9356DC;
}

.BtnFunction::before {
  content: counter(counterlist);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #9356DC;
  color: #FFF;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .BtnFunction--1 {
    margin-right: 32%;
  }
  .BtnFunction--3 {
    margin-left: 32%;
  }
}

.cardRestaurant {
  display: block;
  width: 335px;
  height: 250px;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 4px #EAEAEA;
          box-shadow: 4px 4px 4px #EAEAEA;
  background-color: #FFF;
  margin-bottom: 25px;
  position: relative;
}

.cardRestaurant:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.cardRestaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.cardRestaurant__badge {
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 20px;
}

.cardRestaurant .cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  font-size: 18px;
  margin: 0 25px 0 15px;
}

.cardRestaurant .cardTitle__name {
  font-weight: bold;
}

.cardRestaurant .cardTitle__town {
  font-size: 16px;
}

.cardRestaurant .cardTitle__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  position: relative;
}

.cardRestaurant .cardTitle__right .full {
  position: absolute;
  opacity: 0;
}

.cardRestaurant .cardTitle__right:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

.cardRestaurant .cardTitle__right:hover .full {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation: heart 0.8s linear;
          animation: heart 0.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@media (min-width: 992px) {
  .cardRestaurant {
    width: 446px;
    height: 325px;
    margin-bottom: 50px;
  }
  .cardRestaurant img {
    height: 225px;
  }
  .cardRestaurant .cardTitle {
    height: 100px;
    font-size: 22px;
  }
  .cardRestaurant .cardTitle__town {
    font-size: 20px;
  }
  .cardRestaurant .cardTitle__right {
    font-size: 28px;
  }
}

.cardmenu {
  width: 350px;
  height: 60px;
  background-color: #FFF;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 0;
  -webkit-animation: appear 1.3s linear;
          animation: appear 1.3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cardmenu--15 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.cardmenu--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.cardmenu--25 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.cardmenu--3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
  }
  25% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
  }
  25% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.cardmenu .contain-cardmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 350px;
  padding: 10px 20px 10px 10px;
}

.cardmenu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 18px;
}

.cardmenu__title--undertitle {
  font-weight: 400;
  font-size: 14px;
  margin-top: 3px;
}

.cardmenu__price {
  color: #353535;
  font-weight: bold;
}

.cardmenu .choicemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  color: #FFF;
  background: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 0px;
  opacity: 0;
}

.cardmenu:hover .cardmenu__price {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.cardmenu:hover .choicemenu {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-animation: valid 0.8s ease-in-out;
          animation: valid 0.8s ease-in-out;
  opacity: 1;
}

@-webkit-keyframes valid {
  0% {
    -webkit-transform: scaleX(0%);
            transform: scaleX(0%);
  }
  100% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
}

@keyframes valid {
  0% {
    -webkit-transform: scaleX(0%);
            transform: scaleX(0%);
  }
  100% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
}

.cardmenu:hover .choicemenu i {
  -webkit-animation: spinvalid 0.8s ease-in-out;
          animation: spinvalid 0.8s ease-in-out;
}

@-webkit-keyframes spinvalid {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinvalid {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.cardmenu:hover .cardmenu__title--overtitle, .cardmenu:hover .cardmenu__title--undertitle {
  width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 768px) {
  .cardmenu--1 {
    margin-left: -50%;
  }
  .cardmenu--15 {
    margin-left: -35%;
  }
  .cardmenu--25 {
    margin-left: 35%;
  }
  .cardmenu--3 {
    margin-left: 50%;
  }
}

@media (min-width: 992px) {
  .cardmenu--1 {
    margin-left: -15%;
  }
  .cardmenu--15 {
    margin-left: -5%;
  }
  .cardmenu--25 {
    margin-left: 5%;
  }
  .cardmenu--3 {
    margin-left: 15%;
  }
}

/*  ----  Import des fichier scss du dossier Layout ----  */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__return {
  font-size: 20px;
  color: #353535;
}

.header img {
  width: 200px;
  margin: 15px auto;
}

footer {
  background-color: #353535;
  padding: 25px;
}

footer img {
  width: 120px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin-bottom: 5px;
}

footer .list__puce {
  margin: 10px 0;
}

footer .list__puce i {
  font-size: 14px;
  margin-right: 5px;
}

footer .list__link {
  color: #FFF;
  font-size: 18px;
}

@media (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .contact .list {
    margin: 0 50px;
  }
}

@media (min-width: 1100px) {
  footer .contact .list {
    margin: 0 100px;
  }
}

/*  ----  Import des fichier scss du dossier pages ----  */
.afterloader {
  -webkit-animation: fadein 2s linear;
          animation: fadein 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discovery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discovery__where {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0px 10px 10px -10px grey;
          box-shadow: inset 0px 10px 10px -10px grey;
  font-weight: bold;
  font-size: 18px;
}

.discovery__where p {
  margin: 0 15px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 25px 0 50px 0;
  background-color: #F6F6F6;
}

.explore__title {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 7px 0;
}

.explore__undertitle {
  margin: 7px 0 15px 0;
  color: #6B6B6B;
}

@media (min-width: 768px) {
  .explore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .explore .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.function__list {
  counter-reset: compteListe;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

.restaurant .containCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .restaurant .containCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurant .containCard__left {
    margin: 5px 25px;
  }
  .restaurant .containCard__right {
    margin: 5px 25px;
  }
}

.Imghero {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EAEAEA;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  padding-bottom: 30px;
  z-index: 99;
  position: relative;
}

.menu .menuheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.menu .menuheader__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 28px;
  margin-left: 20px;
  position: relative;
}

.menu .menuheader__right .full {
  position: absolute;
  opacity: 0;
}

.menu .menuheader__right:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

.menu .menuheader__right:hover .full {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation: heart 0.8s linear;
          animation: heart 0.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes heart {
  0% {
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

.menu__contain .meal {
  margin: 50px 0;
}

@media (min-width: 992px) {
  .menu__contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__contain .meal {
    margin: 25px 40px;
  }
}
/*# sourceMappingURL=main.css.map */