.BtnFunction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 75px;
    border-radius: 25px;
    background: $colour-bg;
    box-shadow: 4px 4px 4px $colour-bg-where;
    margin: 20px 0;

    font-size: 18px;
    font-weight: bold;

    position: relative;

    counter-increment: counterlist 1;

    i{
        margin: 0 20px 0 -20px;
    }

    &:hover{
        background-color: lighten($colour-primary, 35%);
        i{
            color: $colour-primary;
            
        } 
    }

    &::before{
        content: counter(counterlist);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $colour-primary;
        color: #FFF;
        font-weight: 500;


        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
    }

    @media  (min-width : 768px){
            &--1{
                margin-right: 32%;
            }
            &--3{
                margin-left: 32%;
            }    
    }
}