.cardmenu{
    width: 350px;
    height: 60px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    opacity: 0;
    animation: appear 1.3s linear;
    animation-fill-mode: forwards;
    

    &--15{
        animation-delay: 0.1s;
    }
    &--2{
        animation-delay: 0.2s;
    }
    &--25{
        animation-delay: 0.3s;
    }
    &--3{
        animation-delay: 0.4s;
    }

    @keyframes appear {
        0%{
            transform: translateY(75%);
        }
        25%{
            transform: translateY(50%);
        }
        50%{
            transform: translateY(25%);
        }
        75%{
            transform: translateY(0);
        }
        100%{
            opacity: 1;
        }
    }

    .contain-cardmenu{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 350px;
        padding: 10px 20px 10px 10px;
        
    }

    &__title{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 18px;
            
    
        &--undertitle{
            font-weight: 400;
            font-size: 14px;
            margin-top: 3px;
        }
    }
    
    &__price{
        color: $colour-bg-footer;
        font-weight: bold;
    }

    .choicemenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        color: #FFF;
        background: $colour-tertiary;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 22px;
        font-weight: bold;
        position: absolute;
        right: 0px;
        opacity: 0; 
    }

    &:hover{
        .cardmenu__price{
            transform: translateX(-60px);
            transition: all 0.8s ease-in-out;
        }

        .choicemenu{
            transform-origin: top right;
            animation: valid 0.8s ease-in-out;
            opacity: 1;


            @keyframes valid {
                0%{
                    
                    transform: scaleX(0%);
                    
                }
                100%{
                    transform: scaleX(100%);
                    
                }
            }

            i{
                animation: spinvalid 0.8s ease-in-out;

                @keyframes spinvalid {
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
            }

        }

        .cardmenu__title{
            &--overtitle, &--undertitle{
                width: 210px;
                white-space: nowrap;
                text-overflow: ellipsis; 
                overflow: hidden;
            } 
        }
    }

    @media  (min-width : 768px){
        &--1{
            margin-left: -50%;
        }
        &--15{
            margin-left: -35%;
        }
        &--25{
            margin-left: 35%;
        }
        &--3{
            margin-left: 50%;
        }
    }

    @media  (min-width : 992px){
        &--1{
            margin-left: -15%;
        }
        &--15{
            margin-left: -5%;
        }
        &--25{
            margin-left: 5%;
        }
        &--3{
            margin-left: 15%;
        }
    }
}