body{
    font-family: 'Roboto', cursive, sans-serif;
}

h1{
    font-family: 'Shrikhand', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ol, ul{
    list-style: none;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sectiontitle{
    font-size: 24px;
    font-weight: bold;
    width: 325px;

    margin: 30px 0;

    @media (min-width : 768px){
        text-align: center;
    }
}