@mixin fadein {
    animation: fadein 4s linear;
    animation-fill-mode: forwards;

    @keyframes fadein {
        0%{
            opacity: 0;
        }
        90%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
}

@mixin loading {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    background: $colour-fond-where;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    animation: fadeout 4s linear;
    animation-fill-mode: forwards;

    @keyframes fadeout {
        0%{
            opacity: 1;
        }
        90%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }     
    }
    

    p, i{
        margin: 10px;
        font-size: 64px;
        color: $colour-fond-footer;

        animation: bounce 1.2s ease-in-out infinite alternate;
    }

    @keyframes bounce {
        0%{
            transform: translateX(0%);
        }
        
        50%{
            transform: translateX(75%);
        }

        100%{
            transform: translateX(-75%);
        }
    }

    .lettercolor1{
        color: $colour-primary;
    }
    
    .lettercolor2{
        color: $colour-secondary;
    }

    .lettercolor3{
        color: $colour-tertiary;
    }

    .letter:nth-child(1){
        animation-delay: 0.1s;
    }

    .letter:nth-child(2){
        animation-delay: 0.2s;
    }

    .letter:nth-child(3){
        animation-delay: 0.3s;
    }

    .letter:nth-child(4){
        animation-delay: 0.4s;
    }

    .letter:nth-child(5){
        animation-delay: 0.5s;
    }

    .letter:nth-child(6){
        animation-delay: 0.6s;
    }

    .letter:nth-child(7){
        animation-delay: 0.7s;
    }

    .letter:nth-child(8){
        animation-delay: 0.8s;
    }

    .letter:nth-child(9){
        animation-delay: 0.9s;
    }

    .letter:nth-child(10){
        animation-delay: 1.0s;
    }

    .letter:nth-child(11){
        animation-delay: 1.1s;
    }

    .letter:nth-child(12){
        animation-delay: 1.2s;
    }

    @media (min-width : 768px) {
        flex-direction: row;

        @keyframes bounce {
            from{
                transform: translateY(0%);
            }

            to{
                transform: translateY(-75%);
            }
        }
    }
}